<div class = "commBox">
<p class="comm_list">
  <b>Kommentaator:</b>
  <%= comment.commenter %>
  <br />
  <%= comment.created_at %>
</p>
 
<p class="comm_list">
  <b>Kommentaar:</b>
  <%= comment.body %>
</p>

 
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
</div>
