// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comm_list{
  color:red;
  width: 400px;
}
.commBox{
  margin-left: 10px;
}

textarea{
  clear: both;
  width: 500px;
  height: 70px;
}


